/*
  This file is meant for global CSS that affects every base element
  Individual components should be styled in the component files with styled-components.
*/

:root {
  --gray-dark: #343434;
  --gray-medium: #8a8a8a;
  --serif-font: 'Vollkorn', serif;
  --sans-serif-font: 'Montserrat', sans-serif;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: var(--sans-serif-font);
  font-weight: 400;
  background: #f2f2f2;
  color: var(--gray-dark);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

a, a:active, a:visited {
  text-decoration: none;
  color: var(--gray-dark);
}